@model SnakeForm.Models.Discussion

@{
    ViewData["Title"] = "Discussion Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Use layout that includes the footer
    ViewData["HideFooter"] = "true"; // This will hide the footer on this page
}

<div class="container flex-grow-1">
    <h1>@Model.Title</h1>
    <p>@Model.Content</p>

    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Image:</dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("/images/" + Model.ImageFilename)" alt="Discussion Image" class="discussion-image" />
        </dd>

        <dt class="col-sm-2">Created At:</dt>
        <dd class="col-sm-10">
            @Model.CreateDate.ToString("MMMM dd, yyyy h:mm tt")
        </dd>
    </dl>
</div>

<div class="container">
    <div class="mt-4">
        <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="btn btn-warning">Add Comment</a>
    </div>

    <h4>Comments</h4>
    <hr />
    @if (Model.Comments != null && Model.Comments.Any())
    {

        <ul class="list-group">
            @foreach (var comment in Model.Comments)
            {
                <li class="list-group-item">
                    <p><strong>@comment.ApplicationUser.Name</strong> @comment.Content</p>
                    <p class="text-muted small">@comment.CommentDate.ToString("MMMM dd, yyyy h:mm tt")</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No comments yet. Be the first to comment!</p>
    }
</div>

<div class="container mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
